<% layout('./layout/page') -%>
<% stylesheet('css/setting.css') -%>
<% script('js/wait-info.js') -%>
<% script('js/setting.js') -%>
<% block('title', 'Настройки сайта') -%>
<% block('titleDlg', 'Сообщение об ошибке') -%>

<div id="header">
    <div id="logo">
        <% include ./layout/logo.ejs %>
        <div id="logo-left">

        </div>
    </div>
</div>

<div id='content'>
    <div id="header-menu-office">
        <div id="menu-office">
             <button id="btn-back">Назад</button>
        </div>
    </div>
    <div id="page-wrapper">
        <ul id="tabs-setting">
            <li><a href="#cri-tabs-1">Критерии</a></li>
            <li><a href="#cri-tabs-2">Группы</a></li>
            <li><a href="#cri-tabs-3">Объекты</a></li>
            <li><a href="#cri-tabs-4">Пользователи</a></li>
            <li><a href="#cri-tabs-5">Роли</a></li>
        </ul>
        <div id="cri-tabs-1">
            <div id="tbl-cri" class="hle-grid">
                <div class="tbl-head ui-corner-top">
                    <table class="tbl">
                        <thead><tr>
                            <th class="td-1"><div>#</div></th>
                            <th class="td-2"><div>Наименование критериев</div></th>
                        </tr></thead>
                    </table>
                </div>
                <div class="tbl-body">
                    <table id="tbl-cri-body" class="tbl">
                        <tbody>
                        <% var i = 0; %>
                        <% lstCri.forEach(function(val) { %>
                        <% i++; %>
                        <tr data-id="<%= val._id %>">
                            <td class="td-1"><div><%= i %></div></td>
                            <td class="td-2"><div><%= val.name %></div></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="tbl-footer ui-corner-bottom">
                    <table class="tbl">
                        <tfoot><tr>
                            <th class="td-1"><div><%= i %></div></th>
                            <th class="td-2"><div></div></th>
                        </tr></tfoot>
                    </table>
                </div>

                <div class="control-button">
                    <div>
                        <button id="button-add-cri">Добавить</button>
                        <button id="button-edit-cri">Изменить</button>
                        <button id="button-del-cri">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="cri-tabs-2">
            <div id="radio-block">
                <div class="tbl-block">
                    <div class="tbl-block-cell">
                        <input type="radio" id="radio-obj" name="radio-os" checked/>
                        <label for="radio-obj">Объекты</label>
                    </div>
                    <div class="tbl-band"></div>
                    <div class="tbl-block-cell">
                        <input type="radio" id="radio-sbj" name="radio-os"/>
                        <label for="radio-sbj">Субъекты</label>
                    </div>
            </div>
            </div>
            <div class="tbl-block">
                <div class="tbl-block-cell" id="nav-cri-group">
                    <div id="tbl-cri-group" class="hle-grid">
                        <div class="tbl-head ui-corner-top">
                        <table class="tbl">
                            <thead>
                            <tr>
                                <th class="td-1"><div>#</div></th>
                                <th class="td-2"><div>Группы критериев</div></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                        <div class="tbl-body">
                        <table id="tbl-cri-group-body" class="tbl">
                            <tbody>
                            <% var i=0; %>
                            <% lstCriGroup.forEach(function(val) { %>
                            <% i++; %>
                            <tr data-id="<%= val._id %>">
                                <td class="td-1"><div><%= i %></div></td>
                                <td class="td-2"><div><%= val.name %></div></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                        <div class="tbl-footer ui-corner-bottom">
                        <table class="tbl">
                            <tfoot>
                            <tr>
                                <th class="td-1"><div><%= i %></div></th>
                                <th class="td-2"><div></div></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                    <div class="control-button">
                        <button id="button-add-cri-group">Добавить</button>
                        <button id="button-edit-cri-group">Изменить</button>
                        <button id="button-del-cri-group">Удалить</button>
                    </div>
                </div>
                <div class="tbl-band"></div>
                <div class="tbl-block-cell" id="nav-cri-group-content">
                    <div id="tbl-cri-group-content" class="hle-grid">
                        <div class="tbl-head ui-corner-top">
                            <table class="tbl">
                                <thead>
                                    <tr>
                                        <th class="td-1"><div>#</div></th>
                                        <th class="td-2"><div>Состав группы критериев</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table id="tbl-cri-group-content-body" class="tbl">
                                <tbody>
                                <% var i = 0; %>
                                <% lstCriGroupContent.forEach(function(val) { %>
                                <% i++; %>
                                <tr data-id="<%= val._id %>">
                                    <td class="td-1"><div><%= i %></div></td>
                                    <td class="td-2"><div><%= val.name %></div></td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tbl-footer ui-corner-bottom">
                            <table id="tbl-cri-group-content-footer" class="tbl">
                                <tfoot>
                                <tr>
                                    <th class="td-1"><div><%= i %></div></th>
                                    <th class="td-2"><div></div></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="control-button">
                        <button id="button-add-cri-group-content">Добавить</button>
                        <button id="button-del-cri-group-content">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="cri-tabs-3">
            <div class="tbl-block">
                <div class="tbl-block-cell" id="nav-object">
                    <div id="tbl-object" class="hle-grid">
                        <div class="tbl-head  ui-corner-top">
                            <table class="tbl">
                                <thead>
                                    <tr>
                                        <th class="td-1"><div>#</div></th>
                                        <th class="td-2"><div>Наименование объектов</div></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table id="tbl-object-body" class="tbl">
                                <tbody>
                                <% var i=0; %>
                                <% lstObj.forEach(function(val) { %>
                                <% i++; %>
                                <tr data-id="<%= val._id %>">
                                    <td class="td-1"><div><%= i %></div></td>
                                    <td class="td-2"><div><%= val.name %></div></td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tbl-footer ui-corner-bottom ">
                            <table class="tbl">
                                <tfoot>
                                <tr>
                                    <th class="td-1"><div><%= i %></div></th>
                                    <th class="td-2"><div></div></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="control-button">
                        <button id="button-add-object">Добавить</button>
                        <button id="button-edit-object">Изменить</button>
                        <button id="button-del-object">Удалить</button>
                    </div>
                </div>
                <div class="tbl-band"></div>
                <div class="tbl-block-cell" id="nav-subject">
                    <div id="tbl-subject" class="hle-grid">
                        <div class="tbl-head  ui-corner-top">
                            <table class="tbl">
                                <thead>
                                <tr>
                                    <th class="td-1"><div>#</div></th>
                                    <th class="td-2"><div>ФИО субъекта</div></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-body">
                            <table id="tbl-subject-body" class="tbl">
                                <tbody>
                                <% var i=0; %>
                                <% lstSbj.forEach(function(val) { %>
                                <% i++; %>
                                <% var name = val.fName + ' ' + charAt(val.sName) + '.' + charAt(val.tName) + '.'%>
                                <tr data-id="<%= val._id %>" data-id-obj="<%= val.linkObj %>">
                                    <td class="td-1"><div><%= i %></div></td>
                                    <td class="td-2"><div><%= name %></div></td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tbl-footer ui-corner-bottom">
                            <table class="tbl">
                                <tfoot>
                                <tr>
                                    <th class="td-1"><div><%= i %></div></th>
                                    <th class="td-2"><div></div></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="control-button">
                        <button id="button-add-subject">Добавить</button>
                        <button id="button-edit-subject">Изменить</button>
                        <button id="button-del-subject">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="cri-tabs-4">
            <div id="tbl-user" class="hle-grid">
                <div class="tbl-head ui-corner-top">
                    <table class="tbl">
                        <thead>
                            <tr>
                                <th class="td-1"><div>#</div></th>
                                <th class="td-2"><div>Имя пользователя</div></th>
                                <th class="td-3"><div>Логин пользователя</div></th>
                                <th class="td-4"><div>Роль пользователя</div></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-body">
                    <table id="tbl-user-body" class="tbl">
                        <tbody>
                        <% var i = 0; %>
                        <% lstUser.forEach(function(val) { %>
                        <% i++; %>
                        <% if (val.role) { %>
                        <tr data-id="<%= val._id %>" data-id-role="<%= val.role._id %>">
                        <%} else { %>
                        <tr data-id="<%= val._id %>" data-id-role="0">
                        <%}%>
                            <td class="td-1"><div><%= i %></div></td>
                            <td class="td-2"><div><%= val.fullname %></div></td>
                            <td class="td-3"><div><%= val.username %></div></td>
                            <% if (val.role) { %>
                            <td class="td-4"><div><%= val.role.name %></div></td>
                            <%} else { %>
                            <td class="td-4"><div>Нет роли</div></td>
                            <%}%>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="tbl-footer ui-corner-bottom">
                    <table class="tbl">
                        <tfoot>
                        <tr>
                            <th class="td-1"><div><%= i %></div></th>
                            <th class="td-2"><div></div></th>
                            <th class="td-3"><div></div></th>
                            <th class="td-4"><div></div></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="control-button">
                <button id="button-add-user">Добавить</button>
                <button id="button-edit-user">Изменить</button>
                <button id="button-del-user">Удалить</button>
            </div>
        </div>
        <div id="cri-tabs-5">
            <div id="tbl-role" class="hle-grid">
                <div class="tbl-head  ui-corner-top">
                    <table class="tbl">
                        <thead>
                        <tr>
                            <th class="td-1"><div>#</div></th>
                            <th class="td-2"><div>Наименование роли</div></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-body">
                    <table id="tbl-role-body" class="tbl">
                        <tbody>
                        <% var i=0; %>
                        <% lstRole.forEach(function(val) { %>
                        <% i++; %>
                        <tr data-id="<%= val._id %>">
                            <td class="td-1"><div><%= i %></div></td>
                            <td class="td-2"><div><%= val.name %></div></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="tbl-footer ui-corner-bottom ">
                    <table class="tbl">
                        <tfoot>
                        <tr>
                            <th class="td-1"><div><%= i %></div></th>
                            <th class="td-2"><div></div></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="control-button">
                <button id="button-add-role">Добавить</button>
                <button id="button-edit-role">Изменить</button>
                <button id="button-del-role">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-cri-list" title="Список критериев оценок">
    <div id="tbl-cri-list" class="hle-grid">
        <div class="tbl-head ui-corner-top">
            <table class="tbl">
                <thead>
                    <tr>
                        <th class="td-1"><div>#</div></th>
                        <th class="td-2"><div>Критерии</div></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-body">
            <table id="tbl-cri-list-body" class="tbl">
                <tbody>
                <!--<tr>
                    <td class="td-1"><div></div></td>
                    <td class="td-2"><div></div></td>
                </tr> -->
                </tbody>
            </table>
        </div>
        <div class="tbl-footer ui-corner-bottom">
            <table class="tbl">
                <tfoot>
                <tr>
                    <th class="td-1"><div></div></th>
                    <th class="td-2"><div></div></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<% include ./layout/msgDialog.ejs %>
<% include ./layout/userDialog.ejs %>
<% include ./layout/subjDialog.ejs %>
<% include ./layout/criDialog.ejs %>
<% include ./layout/rmDialog.ejs %>
<% include ./layout/roleDialog.ejs %>
<% include ./layout/roleDialogEdit.ejs %>
<% include ./layout/roleDialogAdd.ejs %>
<% include ./layout/tblDialog.ejs %>
<% script('js/grid.js') -%>